<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="scroll-auto">
<head>
    <meta charset="UTF-8">
    <title>Database Doc</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"
            integrity="sha512-BNaRQnYJYiPSqHHDb58B0yaPfCu+Wgds8Gp/gU33kqBtgNS4tSPHuGibyoeqMV/TJlSKda6FXzoEyYGjTe+vXA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script type="text/javascript" th:src="@{/javascript/download.js}"></script>
</head>
<body class="relative bg-[#FFFFFFFF] w-[1080px] mx-auto">
<div id="canvas_div_pdf" class="w-full h-full">
    <form id="schema-form" class="flex flex-col justify-center text-center space-y-10"
          method="post"
          th:action="@{/schema/updated}"
          th:object="${schema}">
        <h2 class="text-4xl pt-4">Schema</h2>
        <input type="hidden" th:field="*{id}"/>
        <h3 class="schema-title">
            <input readonly class="capitalize text-center text-2xl font-bold" type="text" th:field="*{name}"/>
        </h3>
        <textarea placeholder="Enter Schema Description here ..."
                  class="capitalize w-full min-w-[840px] min-h-[150px] max-h-[500px] placeholder-black border-2 border-gray-900 rounded-md shadow-md shadow-black opacity-90 p-2 text-2xl  placeholder-opacity-50 hover:-translate-y-2 transition ease-in-out delay-150"
                  th:field="*{description}"></textarea>
        <hr class="border border-2 drop-shadow-2xl"/>
        <h2 class="text-3xl">Tables</h2>

        <th:block th:each="table, tableIndex : *{tables}">

            <div class="border border-2 border-gray-900 rounded-md shadow-md shadow-gray-900 opacity-90 p-4 hover:-translate-y-2 transition ease-in-out delay-150">

                <input type="hidden" th:field="*{tables[__${tableIndex.index}__].id}"/>

                <h3 class="text-2xl my-5">
                    <input class="capitalize text-center font-bold" readonly type="text"
                           th:field="*{tables[__${tableIndex.index}__].name}"/>
                </h3>
                <textarea placeholder="Enter Table Description here ..."
                          class="capitalize w-full min-w-[840px] min-h-[150px] max-h-[500px] placeholder-black border border-2 border-gray-900 rounded-md p-2 text-2xl placeholder-opacity-50"
                          th:field="*{tables[__${tableIndex.index}__].description}"></textarea>
                <h4 class="my-8">Columns</h4>


                <div class="container flex justify-center mx-auto w-full">
                    <div class="flex flex-col w-full">
                        <div class="w-full">
                            <table class=" mx-auto min-w-full bg-white divide-y divide-gray-300  border border-2 border-black rounded-md">
                                <thead class="bg-gray-900 ">
                                <tr class="text-white text-left text-2xl">
                                    <th class="font-semibold text-sm uppercase px-6 py-4">Id</th>
                                    <th class="font-semibold text-sm uppercase px-6 py-4">Name</th>
                                    <th class="font-semibold text-sm uppercase px-6 py-4">Description</th>
                                </tr>
                                </thead>
                                <tbody class="divide-y divide-gray-500">
                                <tr class="whitespace-nowrap text-left text-2xl"
                                    th:each="column ,colIndex : *{tables[__${tableIndex.index}__].columns} ">
                                    <td class="my-3 ">
                                        <input type="text" readonly class="ml-5 flex flex-col items-baseline"
                                               th:field="*{tables[__${tableIndex.index}__].columns[__${colIndex.index}__].id}"/>
                                    </td>

                                    <td class="my-3">
                                        <input class="capitalize flex flex-col items-baseline" type="text" readonly
                                               th:field="*{tables[__${tableIndex.index}__].columns[__${colIndex.index}__].name}"/>
                                    </td>
                                    <td class="my-3 h-24">
                                    <textarea
                                            class="flex flex-col items-baseline capitalize w-full max-h-96 min-h-[40px] p-2 placeholder-black  placeholder-opacity-50"
                                            type="text"
                                            placeholder="Enter Description here ..."
                                            th:field="*{tables[__${tableIndex.index}__].columns[__${colIndex.index}__].description}"></textarea>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

            </div>
            <hr class="drop-shadow-2xl"/>
        </th:block>
    </form>
</div>
<div class="fixed top-0 left-0 w-full min-h-16">
    <div class="bg-black h-16 flex flex-row">
        <!--        left side-->
        <div class="basis-1/3 mx-2"></div>
        <!--        center side-->
        <div class="basis-1/3 mx-2"></div>
        <!--        right side-->
        <div class="basis-1/3 flex justify-end items-center  mx-2">

            <button value="Submit" form="schema-form" type="submit"
                    class="px-4 py-2 font-semibold text-sm bg-cyan-500 text-white rounded-full shadow-sm mx-2">Save
                Changes
            </button>

            <button id="download" value="Submit" form="schema-form" type="button"
                    class="px-4 py-2 font-semibold text-sm bg-cyan-500 text-white rounded-full shadow-sm mx-2">
                Download
                Pdf
            </button>


        </div>


    </div>
</div>

</body>
</html>