<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Database Doc</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<form class="schema-form-container" method="post" th:action="@{/schema}" th:object="${schema}">
    <h2 class="section-title">Schema</h2>
    <input type="hidden" th:field="*{id}"/>
    <h3 class="schema-title">
        <input readonly type="text" th:field="*{name}"/>
    </h3>

    <h4><label th:for="schema-descr">Description</label></h4>
    <textarea id="schema-descr" th:field="*{description}"></textarea>
    <hr/>
    <h2 class="section-title">Tables</h2>

    <th:block th:each="table, tableIndex : *{tables}">

        <div class="table-container">
            <input type="hidden" th:field="*{tables[__${tableIndex.index}__].id}"/>
            <h3 class="table-title">
                <input readonly type="text" th:field="*{tables[__${tableIndex.index}__].name}"/>
            </h3>
            <h4><label>Description</label></h4>
            <textarea class="table-descr" th:field="*{tables[__${tableIndex.index}__].description}"></textarea>
            <h4>Columns</h4>


            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="column ,colIndex : *{tables[__${tableIndex.index}__].columns} ">
                    <input type="hidden"
                           th:field="*{tables[__${tableIndex.index}__].columns[__${colIndex.index}__].id}"/>
                    <td>
                        <input type="text" readonly
                               th:field="*{tables[__${tableIndex.index}__].columns[__${colIndex.index}__].name}"/>
                    </td>
                    <td>
                        <input type="text"
                               th:field="*{tables[__${tableIndex.index}__].columns[__${colIndex.index}__].description}">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </th:block>

    <input type="submit" value="Submit"/> <input type="reset" value="Reset"/>
</form>


</body>
</html>